<div class="auth d-flex h-100 w-100 justify-content-center align-items-center">

  <mat-card class="example-card w-75">
    <mat-card-header class="  d-flex  justify-content-center align-items-center">

      <mat-card-title>Card Data</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div *ngIf="!dataSource">
      <form class="example-form" [formGroup]="bankForm" (ngSubmit)="onSubmit()" *ngIf="!dataSource">

        <mat-form-field class="example-full-width" appearance="outline">
          <textarea [matTextareaAutosize] rows="5" matInput formControlName="bankDetails" placeholder="HSBC Canada,5601-2345-3446-5678,Nov-2017 one row per line" appearance="outline" class="w-75"> </textarea>
            <mat-error
              *ngIf="
              bankDetails.invalid &&
                (bankDetails.dirty || bankDetails.touched)
              "
            >
              Card Details is required
            </mat-error>
          </mat-form-field>
          
          
          <mat-error *ngIf="errMsg" class="mat-error-msg p-2">{{ errMsg }}</mat-error>
          <button
            type="submit"
            [disabled]='!bankForm.valid'
            mat-raised-button 
            color="primary"
            class="btn-block"
          >
            Process Data
          </button>
  
  
          
      </form>
  
      <hr>

      <h1 class="d-flex justify-content-center">OR</h1>
      <input #csvInput hidden="true" type="file" onclick="this.value=null" (change)="fileChange($event)" accept=".csv"/>
      <button mat-flat-button color="primary" (click)="csvInput.click()" class="btn-block mt-2">Choose Spreadsheet File (CSV)</button>
    </div>
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 w-100" *ngIf="dataSource" >

   
      
        <ng-container matColumnDef="bank">
          <th mat-header-cell *matHeaderCellDef> Bank </th>
          <td mat-cell *matCellDef="let element"> {{element.bank}} </td>
        </ng-container>
      
        <ng-container matColumnDef="cardNumber">
          <th mat-header-cell *matHeaderCellDef> Card Number </th>
          <td mat-cell *matCellDef="let element"> {{element.cardNumber}} </td>
        </ng-container>
      
        
        <ng-container matColumnDef="expiryDate">
          <th mat-header-cell *matHeaderCellDef> Expiry Date </th>
          <td mat-cell *matCellDef="let element"> {{element.expiryDate}} </td>
        </ng-container>
      
       
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      
      


  </mat-card-content>
    </mat-card>
      
  </div>